services:
  juiceshop_3000:
    image: bkimminich/juice-shop:latest
    container_name: juiceshop_3000
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: "unsafe"
      SOLUTIONS: "false"
    volumes:
      - juice_data_3000:/juice-shop/data

  juiceshop_3001:
    image: bkimminich/juice-shop:latest
    container_name: juiceshop_3001
    restart: unless-stopped
    ports:
      - "3001:3000"
    environment:
      NODE_ENV: "unsafe"
      SOLUTIONS: "false"
    volumes:
      - juice_data_3001:/juice-shop/data

volumes:
  juice_data_3000:
  juice_data_3001:
