services:
  juiceshop:
    image: bkimminich/juice-shop:latest
    container_name: juiceshop
    restart: unless-stopped
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=unsafe
      - SOLUTIONS=false
    volumes:
      - juice_data:/juice-shop/data
volumes:
  juice_data:
