services:

  radius-db:
    image: mariadb:10.11
    container_name: radius-db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: radius
      MYSQL_DATABASE: radius
      MYSQL_USER: radius
      MYSQL_PASSWORD: radius
    volumes:
      - db_data:/var/lib/mysql

  freeradius:
    build: ./freeradius
    container_name: freeradius
    restart: unless-stopped
    depends_on:
      - radius-db
    ports:
      - "1812:1812/udp"
      - "1813:1813/udp"

  daloradius:
    build: ./daloradius
    container_name: daloradius
    restart: unless-stopped
    depends_on:
      - radius-db
    ports:
      - "8080:80"

volumes:
  db_data:
