services:
  ldap:
    image: osixia/openldap:1.5.0
    container_name: openldap
    restart: always
    environment:
      LDAP_ORGANISATION: "MyCompany"
      LDAP_DOMAIN: "mycompany.local"
      LDAP_ADMIN_PASSWORD: "Password1!"
      LDAP_TLS: "false"
      LDAP_REMOVE_CONFIG_AFTER_SETUP: "false"
    ports:
      - "389:389"
    volumes:
      - ldap_data:/var/lib/ldap
      - ldap_config:/etc/ldap/slapd.d
      - ./ldap:/container/service/slapd/assets/config/bootstrap/ldif/custom

  freeradius:
    image: freeradius/freeradius-server:3.2.3
    container_name: freeradius
    restart: always
    depends_on:
      - ldap
    ports:
      - "1812:1812/udp"
      - "1813:1813/udp"
    volumes:
      - ./freeradius/clients.conf:/etc/freeradius/clients.conf
      - ./freeradius/mods-enabled/ldap:/etc/freeradius/mods-enabled/ldap
      - ./freeradius/sites-enabled/default:/etc/freeradius/sites-enabled/default
    command: ["freeradius","-X"]

volumes:
  ldap_data:
  ldap_config:
