services:
  radius-db:
    image: mariadb:10.11
    environment:
      MYSQL_ROOT_PASSWORD: radius
      MYSQL_DATABASE: radius
      MYSQL_USER: radius
      MYSQL_PASSWORD: radius

  daloradius:
    build: ./daloradius
    depends_on:
      - radius-db
    ports:
      - "8080:80"
