services:

  rdmariadb:
    image: bitnami/mariadb:10.5
    container_name: radiusdesk-mariadb
    restart: unless-stopped
    volumes:
      - rd_data:/bitnami/mariadb
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
      - MARIADB_ROOT_PASSWORD=rd
      - MARIADB_USER=rd
      - MARIADB_PASSWORD=rd
      - MARIADB_DATABASE=rd
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-u", "root", "-prd"]
      interval: 10s
      timeout: 5s
      retries: 5

  radiusdesk:
    image: keegan337/radiusdesk:4.0.2
    container_name: radiusdesk
    restart: unless-stopped
    depends_on:
      rdmariadb:
        condition: service_healthy
    ports:
      - "8080:80"
      - "1812:1812/udp"
      - "1813:1813/udp"

  ldap:
    image: osixia/openldap:1.5.0
    container_name: ldap
    restart: always
    environment:
      LDAP_ORGANISATION: "MyCompany"
      LDAP_DOMAIN: "mycompany.local"
      LDAP_ADMIN_PASSWORD: "Password1!"
      LDAP_TLS: "false"
    volumes:
      - ldap_data:/var/lib/ldap
      - ldap_config:/etc/ldap/slapd.d
    ports:
      - "389:389"

  ldapadmin:
    image: osixia/phpldapadmin:0.9.0
    container_name: phpldapadmin
    restart: always
    environment:
      PHPLDAPADMIN_LDAP_HOSTS: ldap
      PHPLDAPADMIN_HTTPS: "false"
    ports:
      - "8082:80"
    depends_on:
      - ldap

volumes:
  rd_data:
  ldap_data:
  ldap_config:
