services:
  suricata:
    image: jasonish/suricata:latest
    container_name: suricata
    network_mode: host
    cap_add:
      - NET_ADMIN
      - NET_RAW
    volumes:
      - ./suricata:/etc/suricata
      - ./logs:/var/log/suricata
    command: >
      suricata -c /etc/suricata/suricata.yaml -i ens20
    restart: unless-stopped
